---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Profile from '@src/assets/img/profile.jpeg';
import Prose from '../components/Prose.astro';
import { projects } from './projects/projects';
import ProjectList from '../components/ProjectList.astro';
import PostItem from '../components/PostItem.astro';

type BlogPost = CollectionEntry<'blog'>;

const top6Projects = projects.slice(0, 6);
const posts = (await getCollection('blog'))
	.sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION}>
	<div class='container'>
		<div class='w-full md:flex md:items-center gap-16 mb-10'>
			<div class='text-pretty leading-9'>
				<h1 class='text-4xl font-bold mb-4'>Rory Byrne</h1>
				<Prose>
					<div class='text-lg'>
						<p>
							I'm a PhD student at Cambridge working on spiking neural networks under Prof. Tim O'Leary. My research focuses on the role of
							neuronal biophysics in network-level computation, with applications in AI. I am also interested in software design and
							devtools, with a particular focus on tools for science.
						</p>

						<p>
							My background is software design and entrepreneurship - I've founded two startups, advised several others, and regularly
							publish <a href='https://github.com/rorybyrne' target='_blank'>open source tools</a>. I help organise <a
								href='https://compmotifs.com'>CompMotifs</a
							>, a collective of computational scientists interested in new tools-for-science.
						</p>
						<p>
							You can find me on <a href='https://x.com/ryrobyrne' target='_blank'>twitter</a> and <a
								href='https://bsky.app/profile/rory.bio'
								target='_blank'>bluesky</a
							>, or email me at "rory" at this domain.
						</p>
					</div>
				</Prose>
			</div>
			<Image src={Profile} alt='Muhammad Syakirurohman' width={300} loading='eager' class='rounded-3xl rotate-3 mx-4 md:mx-0' />
		</div>
		<main>
			<div class='mt-6 mb-12'>
				<div class='flex justify-between gap-2 border-b mb-1 dark:border-b-zinc-700'>
					<h2 class='text-lg font-bold mb-3'>Recent Posts</h2>
					<a href='/posts/' class='inline-block py-2 underline dark:prose-invert'>All posts &raquo;</a>
				</div>
				<div>
					{posts.map((post: BlogPost) => <PostItem post={post} />)}
				</div>
				<div class='text-right'></div>
			</div>
			<div>
				<div class='flex justify-between gap-2 mb-1'>
					<h2 class='text-lg font-bold mb-3'>My Projects</h2>
					<a href='/projects/' class='inline-block py-2 underline dark:prose-invert'>All projects &raquo;</a>
				</div>
				<ProjectList projects={top6Projects} />
			</div>
		</main>
	</div>
</BaseLayout>
